<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <style>
      @import url("/css/attendance.css");
    </style>
    <script src="/js/main.js" defer></script>
  </head>

  <body>
    <%- include('../partials/header') %>
    <main>
      <% if (lessons.length > 0) { %>
      <div class="table">
        <table class="outlined-table">
          <thead>
            <tr>
              <th>Student Name</th>
              <th>Student ID</th>
              <% lessons.forEach((lesson, index) => { %>
              <th>Lesson <%= index + 1 %></th>
              <% }) %>
              <th>Attendance %</th>
            </tr>
          </thead>
          <tbody>
            <% students.forEach(student => { %>
            <tr>
              <td style="text-transform: capitalize;"><%= student.name %></td>
              <td><%= student.registrationnumber %></td>
              <% lessons.forEach(lesson => { %>
              <td>
                <% const attendanceRecord = attendanceRecords.find(record =>
                record.fingerprintid === student.fingerprintid &&
                record.lessonid === lesson.id) %> <% if (attendanceRecord &&
                attendanceRecord.present) { %> ✅ <% } else { %> ❌ <% } %>
              </td>
              <% }) %>
              <td>
                <% const totalLessons = lessons.length %> <% const presentCount
                = attendanceRecords.filter(record => record.fingerprintid ===
                student.fingerprintid && record.present).length %> <%=
                ((presentCount / totalLessons) * 100).toFixed(2) %>%
              </td>
            </tr>
            <% }) %>
          </tbody>
        </table>
      </div>
      <% } else { %>
        <h2 style="text-align: center;">No records here!</h2>
       <% } %> 
    </main>

    <%- include ('../partials/footer') %>
  </body>
</html>
