<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://fonts.cdnfonts.com/css/poppins" rel="stylesheet" />
  <title>RECORD LESSON</title>
  <style>
    @import url("/css/main.css");
  </style>
  <script src="/js/main.js" defer></script>
</head>

<body>
  <%- include('../partials/header') %>
    <main>
      <% if (currentDayLessons.length> 0) {%>
        <form action="/record-attendance" method="post" id="form" enctype="application/x-www-form-urlencoded">
          <div class="formcheck">
            <label for="date">Day: </label>
            <input disabled type="text" name="date" id="date"
              value="<%= currentDay %> <%= new Date().toISOString().split("T")[0] %>">
          </div>
          <div class="formcheck" id="lessons-div">
            <label for="lesson">Lesson:</label>
            <select name="_module" id="lesson" required>
              <% currentDayLessons.forEach(lesson=> { %>
                <option
                  value="<%= lesson.starttime %>-<%= lesson.endtime %>-<%= lesson.modulecode %>-<%= lesson.venue %>">
                  <%= lesson.starttime %>-<%= lesson.endtime %>
                      <%= lesson.modulename %>
                        <%= lesson.venue %>
                </option>
                <% }) %>
            </select>
          </div>
          <button type="submit" id="formButton">Attendance</button>
        </form>
        <%} else {%>
          <h3 style="text-align: center; margin: 0 auto;">No lessons today</h3>
          <%}%>
    </main>
    <%- include ('../partials/footer') %>
</body>

</html>