<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>HOME</title>

  <style>
    @import url("/css/main.css");
  </style>
  <script src="/js/main.js" defer></script>
</head>

<body>
  <%- include('../partials/header') %>
    <main>
      <div class="navpane">
        <% if (modules.length> 0){%>
          <div class="navlinks">
            <h2 style="text-align: start; margin: 0; color: rgb(63, 207, 63);">Welcome, <%= name %>
            </h2>
            <h3 style="text-align: center; margin: 0; color: rgb(40, 149, 40);">Your Modules</h3>
            <% for (let _module of modules) { %>
              <a href="/attendance/<%= _module.code %>">
                <span style="color: rgb(61, 194, 61);">
                  <%= _module.code %>
                </span>
                <%= _module.name %>
              </a>
              <% } %>
          </div>
          <% } else {%>
            <h3>Teacher has no registered modules</h3>
            <% } %>
              <br>
      </div>
    </main>
    <%- include ('../partials/footer') %>
</body>

</html>