<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <style>
      @import url("/css/main.css");
      @import url("/css/teacher-profile.css");
    </style>
    <script src="/js/main.js" defer></script>
  </head>

  <body>
    <%- include('../partials/header') %>
    <main>
      <div class="navpane">
        <div class="teacher-info">
          <h2 class="teacher-name">John Doe</h2>
          <p class="teacher-department">Department: CS</p>
        </div>
        <h4 style="color: green">Assigned Modules</h4>
        <div class="navlinks">
          <% if (modules.length < 1) {%>
          <h2 style="text-align: center;">Teacher has no assigned modules</h2>
          <%} else {%> <% modules.forEach(_module => { %>
          <a href="/attendance/<%= _module.code %> "
            ><span style="color: green"><%= _module.code %></span>
            <span><%= _module.name %></span></a
          >
          <% }) %> <% } %>
          <!-- <a href="/attendance/CS101"
            ><span style="color: green">CS101</span>
            <span>Introduction to Computer Science</span></a
          >
          <a href="/attendance/CS201"
            ><span style="color: green">CS201</span>
            <span>Data Structures and Algorithms</span></a
          > -->
        </div>
        <br />
      </div>
    </main>
    <%- include ('../partials/footer') %>
  </body>
</html>
