<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <style>
    @import url('/css/main.css');
  </style>
<script  src="/js/main.js" defer></script> </head>

<body>
    <%- include('../partials/header') %>  <main>
    <div class="navpane">
      <% if (teachers.length > 0){%>
        <div class="navlinks">
        <% Object.entries(teachers).forEach(([key, value]) => { %>
          <a 
          href="teachers/<%= value.identificationnumber %>">
            <span style="font-weight: bold; color: green">
              <%= value.identificationnumber %>
            </span> 
            <%= value.name %>
          </a>
        <% }) %>

      </div>
     <% } else {%>
      <h3>No teachers registered here</h3>
      <% } %>
      <br>
    </div>
  </main>
    <%- include  ('../partials/footer') %>

</body>
</html>

</html>